body {
	background: #ffffff;
	margin-bottom: 100px;
	padding: 0;
	font-family: "Georgia", "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 150%;
	background-image: url(https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg)
}

h1 {
  color: #fff;
  background-color: #4aaaa5;
  margin: 0;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 44%;
  font-size: 35px;
}

a {
	color: #777777;
	text-decoration: none;
}

hr {
	color: #777777;
}

h2 {
	font-size: 25px;
	font-weight: bold;
	color: #4aaaa5;
}

.container {
	width: 1050px;
	margin: 0 auto;
}

.container1 {
	width: 100%;
	margin: 0 auto;
	background-color: white;
	height: 72.2px;
}

.container::after {
  	content: "";
  	display: block;
  	clear: both;
 }

#Name{
	float: left;
	width: 41%;
	margin-left: 255px;
	margin-top: 5px;
}

#Content {
	float: right;
	margin-right: 300px;
	margin-top: 20px;
	color: #e3e3e3;
}

#Aboutme,
#image {
	float: left;
}

#Aboutme {
	width: 60%;
	margin-top: 75px;
	background: #fff;
  	border: 30px solid #fff;
}

#ConnectWithMe {
	float: right;
	margin-top: 80px;
	background: #fff;
  	border: 30px solid #fff;
}

#image {
	margin-right: 30px;
	width: 275px;
	height: 250px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #666666;
  text-align: center;
}

.work {
	position: relative;
	float: left;
	width: 50%;
}

.work img {
	width: 90%;
	margin: 20px 5px 20px 10px;
	position: relative;
	opacity: 0.8;
	height: 200px;
}

.work h3 {
	position: absolute;
	top: 150px; 
   	left: 10px; 
   	width: 80.5%;
   	color: white;   
   	background: #4aaaa5; 
   	text-align: center;
   	padding: 15px;
}

.contactform {
	width: 100%;
	height: 435px;
	margin: 15px auto;
}

.contactform form input {
	width: 95%;
	height: 50px;
	padding: 0 15px;
	border: 2px solid #e3e3e3;
	margin-bottom: 15px;
}

p.name {
	color: #777777;
}

.contactform form textarea {
	width: 95%;
	height: 150px;
	border: 2px solid #e3e3e3;
	padding: 10px 15px;
	margin-bottom: 15px;
}

.sendBtn {
	width: 100%;
	height: auto;
	margin-top: 15px;
}

.sendBtn button {
	width: 200px;
	height: 50px;
	font-size: 18px;
	background: #4aaaa5;
	color: #fff;
	border: none;
	cursor: pointer;
}
